<div class="container">
  <div class="cards-interview-prep">
    <% @interview_preparations.each do |interview_preparation| %>
      <% days_counter = (interview_preparation.interview_date - Date.today).to_i %>
      <%= link_to interview_preparation_path(interview_preparation) do %>
        <div class="card-interview-prep">
          <div class="card-interview-prep-infos">
            <h3>Interview preparation for <span class="font-weight-bold"><%= interview_preparation.company %></span></h3>
            <p> as <span class="job-title"><%= interview_preparation.job %></span></p>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
          <p class="days-counter">
            Interview
            <% if days_counter.negative? %>
              <span class="days-bold"><%= "Finished" %></span>
            <% elsif days_counter == 1 %>
              in <span class="days-bold"><%= days_counter %></span> day
            <% elsif days_counter.zero? %>
              <span class="days-bold"><%= "Today" %></span>
            <% else %>
              in <span class="days-bold"><%= days_counter %></span> days
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>
    <%= link_to new_interview_preparation_path do %>
      <div class="new-prep">
        <div>
          +
        </div>
      </div>
    <% end %>
  </div>
</div>
