<div class="cards-container">
  <div class="cards-interview-prep">
    <% @interview_preparations.each do |interview_preparation| %>
      <% days_counter = (interview_preparation.interview_date - Date.today).to_i %>

      <% params_logos_serapi = { q: "#{interview_preparation.company} logo", tbm: "isch", api_key: ENV.fetch('SERAPI_API_KEY') } %>
      <% client = GoogleSearchResults.new(params_logos_serapi) %>
      <% @images_results = client.get_hash[:images_results] %>

      <div class="global-card">
        <%= link_to interview_preparation_path(interview_preparation) do %>
          <div class="card-interview-prep">
            <div class="card-interview-prep-infos">
              <h3>Interview preparation for <span class="font-weight-bold"><%= interview_preparation.company %></span></h3>
              <p> as <span class="job-title"><%= interview_preparation.job %></span></p>
            </div>
            <div class="company-logo" style="background-image: url(<%= @images_results[0][:original] %>)"></div>
            <div class="progress">
              <% progress_bar = 0 %>
              <% count = interview_preparation.challenges.count %>
              <% progress_bar = count * (100.fdiv 8) %>
              <div class="progress-bar" role="progressbar" style="width: <%= progress_bar %>%; background-color: #3ac162;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= progress_bar.round %>%</div>
            </div>
            <div class="card-interview-prep-details">
              <p class="days-counter">
                Interview
                <% if days_counter.negative? %>
                  <span class="days-bold"><%= "Finished" %></span>
                <% elsif days_counter == 1 %>
                  in <span class="days-bold"><%= days_counter %></span> day
                <% elsif days_counter.zero? %>
                  <span class="days-bold"><%= "Today" %></span>
                <% else %>
                  in <span class="days-bold"><%= days_counter %></span> days
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <%= link_to interview_preparation_path(interview_preparation), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-prep" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to new_interview_preparation_path do %>
      <div class="new-prep">
        <div>
          +
        </div>
      </div>
    <% end %>
  </div>
</div>
