<div class="container">
  <div class="interview-prep-infos">
    <div class="general-infos">
      <div class ="box1">
        <h1><%= @interview_preparation.company %></h1>
        <h3><%= @interview_preparation.job %></h3>
      </div>
        <% params_logos_serapi = { q: "#{@interview_preparation.company} logo", tbm: "isch", api_key: ENV.fetch('SERAPI_API_KEY') } %>
        <% client = GoogleSearchResults.new(params_logos_serapi) %>
        <% @images_results = client.get_hash[:images_results] %>
        <div class="company-logo box1" style="background-image: url(<%= @images_results[0][:original] %>)"></div>
      <p>
        Interview
        <% if @days_counter.negative? %>
          <span class="days-bold box2"><%= "Finished" %></span>
        <% elsif @days_counter == 1 %>
          in <span class="days-bold box2"><%= @days_counter %></span> day
        <% elsif @days_counter.zero? %>
          <span class="days-bold box2"><%= "Today" %></span>
        <% else %>
          in <span class="days-bold"><%= @days_counter %></span> days
        <% end %>
      </p>
    </div>
    <div class="container no-padding">
      <div class="row">
        <div class="col-6">
          <div class="experience-expectations">
            <h2>Experience expectations
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
            <i class="em em-spades" aria-role="presentation" aria-label="BLACK SPADE SUIT"></i>
            </h2>
            <p><%= @interview_preparation.experience_expectation %>
          </div>
          <div class="missions">
            <h2>Missions
              <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
              <i class="em em-diamonds" aria-role="presentation" aria-label="BLACK DIAMOND SUIT"></i>
            </h2>
            <% counter = 1 %>
            <% @interview_preparation.missions.each do |mission| %>
              <p><%= counter %>. <%= mission.name %></p>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>
        <div class="col-6">
          <div class="hard-skills">
            <h2>Hard skills
              <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
              <i class="em em-hearts" aria-role="presentation" aria-label="BLACK CLUB SUIT"></i>
          </h2>
            <% counter = 1 %>
            <% @interview_preparation.hardskills.each do |hardskill| %>
              <p><%= counter %>. <%= hardskill.hard_skill %></p>
              <% counter += 1 %>
            <% end %>
          </div>
           <div class="soft-skills">
            <h2>Soft skills
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
              <i class="em em-clubs" aria-role="presentation" aria-label="BLACK CLUB SUIT"></i>
            </h2>
            <p>add soft skills</p>
          </div>
        </div>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= @progress_bar %>%; background-color: #3ac162;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= @progress_bar.round %>%</div>
    </div>
  </div>

  <div class="challenges container">
    <div class="row">
      <div class="challenges-choices col-4">
        <p>
          <a class="btn-challenges" data-toggle="collapse" href="#collapseChallenges" role="button" aria-expanded="false" aria-controls="collapseExample">
            Challenges
            <i class="fas fa-caret-down"></i>
          </a>
        </p>

        <div class="collapse show scrollable" id="collapseChallenges">
          <div class="Get-company-info">
            <h4>Get info about <span class="font-weight-bold"><%= @interview_preparation.company %></span></h4>
            <div class="challenge-card" data-toggle="collapse" href="#videos-company" role="button" aria-expanded="false" aria-controls="videos-company">
              <p>Watch top 6 videos</p>
              <div class="done">
                <% if @interview_preparation.challenges.exists?(name: "Watch top 6 videos") %>
                  <i class="far fa-check-square"></i>
                <% else %>
                  <%= link_to interview_preparation_challenges_path(@interview_preparation, name: "Watch top 6 videos"), method: :post, remote: true, title: "Mark as done" do %>
                    <i class="far fa-square"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#articles-company" role="button" aria-expanded="false" aria-controls="articles-company">
              <p>Read top 4 articles</p>
              <div class="done">
                <% if @interview_preparation.challenges.exists?(name: "Read top 4 articles") %>
                  <i class="far fa-check-square"></i>
                <% else %>
                  <%= link_to interview_preparation_challenges_path(@interview_preparation, name: "Read top 4 articles"), method: :post, remote: true, title: "Mark as done" do %>
                    <i class="far fa-square"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="challenge-card dropdown-triangle" data-toggle="collapse" href="#collapseQuestions" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Company questions to prepare</p>
              <i class="fas fa-caret-down"></i>
            </div>

              <div class="collapse" id="collapseQuestions">
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_1on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Objectives and challenges</p>
                  <div class="done">
                    <% if @interview_preparation.challenges.exists?(name: "Objectives and challenges") %>
                      <i class="far fa-check-square"></i>
                    <% else %>
                      <%= link_to interview_preparation_challenges_path(@interview_preparation, name: "Objectives and challenges"), method: :post, remote: true, title: "Mark as done" do %>
                        <i class="far fa-square"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_2on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Motivations & vision</p>
                  <div class="done">
                    <% if @interview_preparation.challenges.exists?(name: "Motivations & vision") %>
                      <i class="far fa-check-square"></i>
                    <% else %>
                      <%= link_to interview_preparation_challenges_path(@interview_preparation, name: "Motivations & vision"), method: :post, remote: true, title: "Mark as done" do %>
                        <i class="far fa-square"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_3on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Business model & competition</p>
                  <div class="done">
                    <% if @interview_preparation.challenges.exists?(name: "Business model & competition") %>
                      <i class="far fa-check-square"></i>
                    <% else %>
                      <%= link_to interview_preparation_challenges_path(@interview_preparation, name: "Business model & competition"), method: :post, remote: true, title: "Mark as done" do %>
                        <i class="far fa-square"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_4on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Questions for the interviewer</p>
                  <div class="done">
                    <% if @interview_preparation.challenges.exists?(name: "Questions for the interviewer") %>
                      <i class="far fa-check-square"></i>
                    <% else %>
                      <%= link_to interview_preparation_challenges_path(@interview_preparation, name: "Questions for the interviewer"), method: :post, remote: true, title: "Mark as done" do %>
                        <i class="far fa-square"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>

          <div class="Get-job-info">
            <h4>Get info about  <span class="font-weight-bold"><%= @interview_preparation.job %></span></h4>
            <div class="challenge-card" data-toggle="collapse" href="#similar-profiles" role="button" aria-expanded="false" aria-controls="similar-profiles">
              <p>Similar profiles</p>
            </div>
          </div>
          <div class="Get-job-info">
            <h4>Show you're a great fit</h4>
            <div class="challenge-card" data-toggle="collapse" href="#star_approach" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Use the STAR approach</p>
              <div class="done">
                <% if @interview_preparation.challenges.exists?(name: "Use the STAR approach") %>
                  <i class="far fa-check-square"></i>
                <% else %>
                  <%= link_to interview_preparation_challenges_path(@interview_preparation, name: "Use the STAR approach"), method: :post, remote: true, title: "Mark as done" do %>
                    <i class="far fa-square"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#hardskills_mastering" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Show you master the hard skills needed</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Show you have the expected soft skills</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Prove your experience is relevant</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>What's your fire note?</p>
            </div>
          </div>
        </div>
      </div>

      <div class="display-zone col-8 scrollable-display-zone">
        <div class="accordion" id="accordion">
          <%= render 'challenges/articles_company'%>
          <%= render 'challenges/questions_company1on4'%>
          <%= render 'challenges/questions_company2on4'%>
          <%= render 'challenges/questions_company3on4'%>
          <%= render 'challenges/questions_company4on4'%>
          <%= render 'challenges/similar_profiles'%>
          <%= render 'challenges/star_approach'%>
          <%= render 'challenges/hardskills_mastering'%>
        </div>
      </div>
    </div>
  </div>
</div>


