<div class="container">
  <div class="interview-prep-infos">
    <div class="general-infos">
      <div>
        <h1><%= @interview_preparation.company %></h1>
        <h3><%= @interview_preparation.job %></h3>
      </div>
      <p>Interview in <span class="font-weight-bold"><%= (@interview_preparation.interview_date - Date.today).to_i %></span> days</p>
    </div>
    <div class="experience-expectations">
      <h2>Experience expectations</h2>
      <p><%= @interview_preparation.experience_expectation %>
    </div>
    <div class="missions">
      <h2>Missions</h2>
      <p>add missions</p>
    </div>
     <div class="hard-skils">
      <h2>Hard skills</h2>
      <p>add hard skills</p>
    </div>
     <div class="attributes">
      <h2>Attributes</h2>
      <p>add attributes</p>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
  </div>


  <div class="challenges container">
    <div class="row">
      <div class="challenges-choices col-4">
        <p>
          <a class="btn-challenges" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Challenges
          </a>
        </p>

        <div class="collapse show scrollable" id="collapseExample">
          <div class="Get-company-info">
            <h4>Get info about <span class="font-weight-bold"><%= @interview_preparation.company %></span></h4>
            <div class="challenge-card" data-toggle="collapse" href="#videos-company" role="button" aria-expanded="false" aria-controls="videos-company">
              <p>Watch top 6 videos</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#articles-company" role="button" aria-expanded="false" aria-controls="articles-company">
              <p>Read top 6 articles</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Frequently asked questions</p>
            </div>
             <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Quizz</p>
            </div>
          </div>

          <div class="Get-job-info">
            <h4>Get info about  <span class="font-weight-bold"><%= @interview_preparation.job %></span></h4>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Watch top 6 videos</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Read top 6 articles</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Frequently asked questions</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Similar profiles</p>
            </div>
             <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Quizz</p>
            </div>
          </div>

          <div class="Get-job-info">
            <h4>Show you're a great fit</h4>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Add cards</p>
            </div>
          </div>
        </div>
      </div>

      <div class="display-zone col-8 scrollable-display-zone">
        <div class="accordion" id="accordion">
          <%= render 'challenges/default' %>

          <%= render 'challenges/articles_company' %>
        </div>

      </div>

    </div>

  </div>

</div>


