<div class="container">
  <div class="interview-prep-infos">
    <div class="general-infos">
      <div>
        <h1><%= @interview_preparation.company %></h1>
        <h3><%= @interview_preparation.job %></h3>
      </div>
      <p>
        Interview
        <% if @days_counter.negative? %>
          <span class="days-bold"><%= "Finished" %></span>
        <% elsif @days_counter == 1 %>
          in <span class="days-bold"><%= @days_counter %></span> day
        <% elsif @days_counter.zero? %>
          <span class="days-bold"><%= "Today" %></span>
        <% else %>
          in <span class="days-bold"><%= @days_counter %></span> days
        <% end %>
      </p>
    </div>
    <div class="container no-padding">
      <div class="row">
        <div class="col-6">
          <div class="experience-expectations">
            <h2>Experience expectations</h2>
            <p><%= @interview_preparation.experience_expectation %>
          </div>
          <div class="missions">
            <h2>Missions</h2>
            <% counter = 1 %>
            <% @interview_preparation.missions.each do |mission| %>
              <p><%= counter %>. <%= mission.name %></p>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>
        <div class="col-6">
          <div class="hard-skills">
            <h2>Hard skills</h2>
            <% counter = 1 %>
            <% @interview_preparation.hardskills.each do |hardskill| %>
              <p><%= counter %>. <%= hardskill.hard_skill %></p>
              <% counter += 1 %>
            <% end %>
          </div>
           <div class="attributes">
            <h2>Attributes</h2>
            <p>add attributes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
  </div>

  <div class="challenges container">
    <div class="row">
      <div class="challenges-choices col-4">
        <p>
          <a class="btn-challenges" data-toggle="collapse" href="#collapseChallenges" role="button" aria-expanded="false" aria-controls="collapseExample">
            Challenges
            <i class="fas fa-caret-down"></i>
          </a>
        </p>

        <div class="collapse show scrollable" id="collapseChallenges">
          <div class="Get-company-info">
            <h4>Get info about <span class="font-weight-bold"><%= @interview_preparation.company %></span></h4>
            <div class="challenge-card" data-toggle="collapse" href="#videos-company" role="button" aria-expanded="false" aria-controls="videos-company">
              <p>Watch top 6 videos</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#articles-company" role="button" aria-expanded="false" aria-controls="articles-company">
              <p>Read top 6 articles</p>
            </div>
            <div class="challenge-card dropdown-triangle" data-toggle="collapse" href="#collapseQuestions" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Company questions to prepare</p>
              <i class="fas fa-caret-down"></i>
            </div>

              <div class="collapse" id="collapseQuestions">
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_1on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Key objectives & challenges</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" >
                    <label class="form-check-label" for="defaultCheck1">
                    </label>
                  </div>
                </div>
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_2on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Motivations & vision</p>
                </div>
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_3on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Business model & competition</p>
                </div>
                <div class="challenge-card" data-toggle="collapse" href="#questions-company_4on4" role="button" aria-expanded="false" aria-controls="collapseTest">
                  <p>Questions for the interviewer</p>
                </div>
              </div>
          </div>

          <div class="Get-job-info">
            <h4>Get info about  <span class="font-weight-bold"><%= @interview_preparation.job %></span></h4>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Watch top 6 videos</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Read top 6 articles</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Frequently asked questions</p>
            </div>
            <div class="challenge-card" data-toggle="collapse" href="#similar-profiles" role="button" aria-expanded="false" aria-controls="similar-profiles">
              <p>Similar profiles</p>
            </div>
             <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Quizz</p>
            </div>
          </div>

          <div class="Get-job-info">
            <h4>Show you're a great fit</h4>
            <div class="challenge-card" data-toggle="collapse" href="#collapseTest" role="button" aria-expanded="false" aria-controls="collapseTest">
              <p>Add cards</p>
            </div>
          </div>
        </div>
      </div>

      <div class="display-zone col-8 scrollable-display-zone">
        <div class="accordion" id="accordion">
          <%= render 'challenges/articles_company'%>
          <%= render 'challenges/questions_company1on4'%>
          <%= render 'challenges/questions_company2on4'%>
          <%= render 'challenges/questions_company3on4'%>
          <%= render 'challenges/questions_company4on4'%>
          <%= render 'challenges/similar_profiles'%>
        </div>
      </div>
    </div>
  </div>
</div>


