<div class="collapse" id="questions-company_2on4" data-parent="#accordion">
  <div class="questionsgray p-2 bd-highlight">
    <h3> Why do I want to work for <%= @interview_preparation.company %>?</h3>
  </div>

  <div class="form-group orange-questions">
    <% @candidate_works2.flatten.each do |candidate_work| %>

      <%= simple_form_for([ @interview_preparation, candidate_work ]) do |f| %>
        <%= candidate_work.question %>
        <%= f.input :question, value: candidate_work.question, as: :hidden %>
        <%= f.input :answer, as: :text, value: candidate_work.answer,label:false %>
        <%= button_tag type: 'submit', class: "btn btn-question" do %>
          Save
          <i class="far fa-check-circle" aria-hidden="true"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
